@import url('https://fonts.googleapis.com/css?family=Bitter|Cabin');

.credits-card{
  height: 130px;
  width: 100%;
  display: inline-block;
  /*max-width: 1260px; */
  /*overflow-x: scroll; */
  position: relative;
  border-top: 1px solid #efefef;
}

.credits-card .credits-logos{
  display: inline-block;
  /* width: 1260px; */
  box-sizing: border-box;
  min-height: 130px;
  position: relative;
  /*overflow-x: scroll; */
  width: 100%;
  max-width: 100%;
  height: 130px;
  padding-top: 20px;
}

.credits-card .credits-section{
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid #efefef;
  margin-right: 30px;
  float: left;
}
.credits-card .credits-section:last-child{
  border: 0px;
  margin-right: 0px;
}

.credits-card .scroll-area{
  /*width: 1600px;
  display: inline-block;*/
  overflow: hidden;
}

.credits-card .credits-section .credits-title{
  text-transform: uppercase;
  font-size: 12px;
  font-family: "cabin";
  color: #333;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  display: block;
}

.credits-card .company-logo{
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.credits-card .company-logo img{
  height: 40px;
  margin-top: 8px;
}

.credits-card .fog-effect-left{
  height: 160px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  background: -webkit-linear-gradient(left,#ffffff,#ffffff00); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,#ffffff,#ffffff00); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,#ffffff,#ffffff00); /*Fx 3.6-15*/
  background: linear-gradient(to right, #ffffff, #ffffff00); /*Standard*/
}

.credits-card .fog-effect-right{
  height: 160px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  background: -webkit-linear-gradient(right,#ffffff,#ffffff00); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,#ffffff,#ffffff00); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,#ffffff,#ffffff00); /*Fx 3.6-15*/
  background: linear-gradient(to left, #ffffff, #ffffff00); /*Standard*/
}

.credits-card .company-name{
  display: none;
}

.credits-card-mobile{
    width: 100%;
    height: auto;
  }

.credits-card-mobile .company-name{
  display: block;
  font-family: "cabin";
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.credits-card-mobile .credits-section .credits-title{
  text-transform: uppercase;
  font-family: "cabin";
  color: #333;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  display: block;
  font-size: 10px;
  opacity: 0.5;
  margin-top: 24px;
}

.credits-card-mobile .company-logo{
  display: none;
}

.credits-card-mobile .credits-section{
  width: 100%;
  display: block;
  text-align: center;
  border:0px;
}

.credits-card-mobile .scroll-area{
  width: 100%;
}

.credits-card-mobile .fog-effect-right, .credits-card-mobile .fog-effect-left{
  display: none;
}

.proto-navigation-icons {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 52px;
  width: 50px;
  padding-top: 16px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}
.left-click-arrow{
  left: 0px;
  background: rgba(255,255,255, 0.65);
}

.right-click-arrow{
  right: 0px;
  background: rgba(255,255,255, 0.65);
}

.col7-credits-card{
  /*width: 540px;*/
  overflow-x: hidden;
}
